*{
      margin: 0;
}
header{
      color:white ;
      background-color: black;
      width: 100%;
      height: 200px;
      border-radius: 10px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular',
       'Lucida Grande', 'Lucida Sans Unicode', Geneva,
        Verdana, sans-serif;
}
#title{
      padding-top: 20px;
}
.nav{
      width: 100%;
      color: white;
    display: flex;
    text-align:center ;
    justify-content: space-around;
    padding-top: 75px;
}
a{
      color: white;
      text-decoration: none;
}
.nav a:hover{
      color: rgb(127, 245, 166);
  text-decoration: double;
}

body{ width: 100%;
      background-image:url('Nigeria-farmers-Artificial-Intelligence.webp');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      opacity: 90%;   
}
.video{
      width: 100%;
      height: 350px;
      padding-top: 20px;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.text{
      width: 40%;
      height: 350px;
      margin-top: 25px;
} 
.more{
      color: white;
      display: flex;
      justify-content: space-around;
      text-align: center;
      width: 100%;
      height: 400px;
      margin-top: 30px;
}
.mission{
      background-color: rgba(81, 179, 81, 0.7);
      width: 20%;
      height: 300px;
   border-radius: 10px;
   padding-top: 10px;
}

.vision{
      background-color: rgba(4, 131, 4, 0.7);
      width: 20%;
      height: 300px;
   border-radius: 10px;
   padding-top: 10px;
}
.Goal{
      background-color: rgba(7, 66, 7, 0.7      );
      width: 20%;
      height: 300px;
   border-radius: 10px;
   padding-top: 10px;
}
